# Prerequisites
*.d
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific files
/Users/mac/repos/adventofcode/adventofcode_day_1_part_1
/Users/mac/repos/adventofcode/adventofcode_day_1_part_2
